@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  /* To rset margin for all....so that custom margin can be given */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* font-weight: 700;
  font-style: normal; */
}
body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  margin: 2px;
  padding: 2px 0px;
}
.right {
  width: 75vw;
  margin: 2px;
  padding: 2px 0px;
}

.home {
  padding: 20px;
}
.home ul li {
  display: flex;
  gap: 15px;
  width: 24px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 3px 0;
  font-weight: bold;
  align-items: center;
  font-size: 12px;
}

.heading img {
  width: 24px;
}
.library{
  height: calc(100vh - 220px);
  position: relative;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 6px;
  position: absolute;
  bottom: 15px;
}

.footer a {
  color: grey;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-radius: 7px 7px 0 0;
  margin: 5px 5px 0 5px;
}

.header > * {
  padding: 16px;
}

.spotifyPlaylists {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5px 5px 5px;
  min-height: 343px;
  max-height: calc(100vh - 132px);
  padding : 18px;
  /* padding-bottom: 60px; */
  overflow-y: auto;
}
.spotifyPlaylists h2{
  padding: 18px;
}

.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* max-height: 250px; */
  
  padding-bottom: 60px;
}
.card {
  position: relative;
  width: 156px;
  padding: 10px;
  border-radius: 5px;
  background-color: #121212;
  cursor: pointer;
}

.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}

.card p {
  font-size: 13px;
}

.play {
  position: absolute;
  opacity: 0;
  animation: pop2 1s ease-in-out 0s 1 alternate forwards;
}
.card:hover{
  background-color: #343534;
}
.card:hover .play {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: pop1 1s ease-in-out 0s 1 alternate forwards;
}
@keyframes pop1 {
  from {
    opacity: 0;
    /* top: 140px; */
    bottom: 16px;
    right: 17px;
  }
  to {
    opacity: 1;
    /* top: 120px; */
    bottom: 85px;
    right: 17px;
  }
}

@keyframes pop2 {
  from {
    opacity: 1;
    /* top: 120px; */
    bottom: 85px;
    right: 17px;
  }
  to {
    opacity: 0;
    /* top: 140px; */
    bottom: 16px;
    right: 17px;
  }
}
/* .buttons{
  padding: 10px;
} */

.nav {
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.buttons > * {
  margin: 0 12px;
  padding: 10px;
}
.signupbtn {
  background-color: #121212;
  color: rgb(82, 82, 82);
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}

.signupbtn:hover {
  font-size: 17px;
  color: rgb(222, 218, 218);
  height: 39px;
  padding: 0 11px;
}

.loginbtn {
  background-color: white;
  color: #121212;
  font-weight: bold;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 21px;
  cursor: pointer;
}

.loginbtn:hover {
  font-size: 17px;
  border-radius: 21px;
  padding: 0 11px;
  color: black;
  height: 39px;
}

.playbar {
  position: fixed;
  bottom: 20px;
  background-color: #343534;
  width: calc(75vw - 60px);
  padding: 20px 10px;
  border-radius: 14px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.hamburger {
  display: none;
}

.left .close img {
  display: none;
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
}
.songList {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 44px;
  padding: 0 8px 0 0;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 10px;
  cursor: pointer;
  border: 1px solid white;
  margin: 12px 1px;
  padding: 13px 6px;
  border-radius: 5px;
  justify-content: space-between;
}

.info {
  font-size: 12px;
  width: 104px;

}

.info div{
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow img {
  width: 31px;
  padding: 0 5px;
}
.playnow span {
  font-size: 9px;
}

.seekbar {
  position: absolute;
  height: 4px;
  width: calc(75vw - 63px);
  background: white;
  bottom: 0;
  margin: 6px;
  cursor: pointer;
}

.circle {
  height: 13px;
  width: 13px;
  border-radius: 6.5px;
  background-color: white;
  position: relative;
  bottom: 5.5px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
}

.songinfo{
  color: white;
  padding: 0 12px;
  width: 250px;
}
.songtime {
  color: white;
  padding: 0 12px;
  width: 125px;
}
.timevol{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.volume{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.range input{
  cursor: pointer;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 1200px) {
  .left {
    /* background-color: red; */
    position: absolute;
    left: -100%;
    transition: all 0.8s;
    z-index: 1;
    width: 333px;
  }
  .right {
    margin: 0;
    width: 100vw;
  }

  .abovebar{
    flex-direction: column;
    gap: 20px;
    
  }
  .playbar {
    width: calc(100vw - 60px);
  }
  .songinfo, .songtime{
    width: auto;
  }
  .seekbar {
    width: calc(100vw - 63px);
  }
  .timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .hamburger {
    display: block;
  }
  .left .close img {
    display: block;
  }
  .card{
    width: 44vw;
  }
  .cardContainer{
    margin: 0;
    justify-content: center;
  } 
  .play svg{
    width: 40px;
  }
}


@media (max-width: 500px) {
  .left {
    /* background-color: red; */
    position: absolute;
    left: -130%;
    transition: all 0.8s;
    z-index: 1;
    width: 333px;
  }
  .right {
    width: 100vw;
  }
  .abovebar{
    flex-direction: column;
    gap: 20px;
    
  }
  .playbar {
    width: calc(100vw - 60px);
  }
  .songinfo, .songtime{
    width: auto;
  }
  .seekbar {
    width: calc(100vw - 63px);
  }
  .timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .right{
    margin: 0;
  }
  .hamburger {
    display: block;
  }
  .left .close img {
    display: block;
  }
  .card{
    width: 100%;
  }
  .cardContainer{
    margin: 0;
    justify-content: center;
    max-height: 50vh;
  } 
  .play svg{
    width: 40px;
  }

  .header>*{
    padding: 2px;
  }
  .buttons>*{
    margin: 0 6px;
  }
}